.mybtn {
    width: 100px;
    align-content: center;
}

.maindiv {
    width: 100%;
}

form {
    width: 100%;
    display: block;
    text-align: center;
}
label {
    width: 60%;
    text-align: start;
}
input{
    width: 60%;
}