<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/store.css">
</head>

<body>
    <p class="text-center mt-2 mb-2">60% off Sale on EID!</p>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">TECH Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/store.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/About.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Contact-Us.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Owner details -->
    <div class="container mt-4 mb-4">
        <div class="card mb-3 w-100">
            <div class="row d-flex g-0">
                <div class="col-md-4">
                    <img src="/assets/pro3.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">Aamir Latif</h1>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis at mollitia
                            praesentium facere commodi sint et, quisquam, eum possimus qui blanditiis voluptatem, minus
                            fugiat voluptatibus sapiente suscipit! Debitis, eaque. Nostrum quis incidunt ex accusamus
                            quasi, illum similique impedit officiis libero nihil! Exercitationem rerum eius nulla sed.
                            Quaerat quis, incidunt pariatur dolores corrupti sit minus dolor ex, accusamus modi rem
                            voluptatibus dolorem in explicabo ut dignissimos, esse doloribus impedit nihil ab ad?
                            Incidunt magni doloremque accusamus, ducimus dolores dolorem magnam blanditiis quidem
                            dolorum nobis deleniti exercitationem quam debitis, veritatis possimus, libero quia in
                            corrupti. Ab iusto saepe voluptates voluptatibus unde?
                        </p>
                        <div class="points">
                          <ol>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, praesentium.</li>
                          </ol>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-4 mb-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Why you're here?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Why we're selling?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why you buy this?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
    </div>

    <!-- Footer -->
  <div class="container-fluid bg-secondary p-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col footer-col">
        <img src="/assets/pro3.png" alt="" class="footer-img">
      </div>
      <div class="col footer-col2">
        <h1>Location:</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <h1>Phone:</h1>
        <p>9837592659832</p>
        <a href="/store.html">TECH Store</a>
      </div>
      <div class="col footer-col3">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-info mysub">Subscribe Us</button>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center p-4 bg-light bg-gradient fw-bold m-0">Powered By <a href="/store.html">Aamir Latif</a></p>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>