<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/store.css">
</head>

<body>
    <p class="text-center mt-2 mb-2">60% off Sale on EID!</p>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">TECH Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/store.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/About.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Contact-Us.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="text-center">Contact-Us</h1>

    <!-- Footer -->
  <div class="container-fluid bg-secondary p-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col footer-col">
        <img src="/assets/pro3.png" alt="" class="footer-img">
      </div>
      <div class="col footer-col2">
        <h1>Location:</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <h1>Phone:</h1>
        <p>9837592659832</p>
        <a href="/store.html">TECH Store</a>
      </div>
      <div class="col footer-col3">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-info mysub">Subscribe Us</button>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center p-4 bg-light bg-gradient fw-bold m-0">Powered By <a href="/store.html">Aamir Latif</a></p>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>