<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECH Products</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/store.css">
</head>

<body>
    <p class="text-center mt-2 mb-2">60% off Sale on EID!</p>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">TECH Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/store.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/About.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/Contact-Us.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Deales -->
  <div class="container mt-4 mb-4">
    <div class="row row-cols-1 row-cols-md-5 g-4 mt-4 mb-4">
      <div class="col">
        <div class="card">
          <img src="/assets/imgs/ISHOP-300x300.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bluetoothe 5.3 Deal</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/imgs/deal-5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">tracking Watch Deal</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/imgs/9aa65da600dd4ad4b5e3302e59c7b481-300x300.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Health Watch Deal</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Deaalem Deal</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Deaalem Deal</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4 mt-4 mb-4">
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/ISHOP-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bluetoothe 5.3 Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/deal-5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">tracking Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/9aa65da600dd4ad4b5e3302e59c7b481-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Health Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-5 g-4 mt-4 mb-4">
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/ISHOP-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bluetoothe 5.3 Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/deal-5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">tracking Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/9aa65da600dd4ad4b5e3302e59c7b481-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Health Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-5 g-4 mt-4 mb-4">
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/ISHOP-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bluetoothe 5.3 Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/deal-5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">tracking Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/9aa65da600dd4ad4b5e3302e59c7b481-300x300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Health Watch Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/imgs/main-banner-1-300x300.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deaalem Deal</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
  </div>

    <h1 class="text-center">Products</h1>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>